::selection {
    background-color: bisque; 
    
  }
  
  ::-webkit-selection {
    background-color: bisque; 
    color: white; 
  }
  img{
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;     
    user-select: none; 
  }
  